.scroll-container {
    overflow-y: scroll;
    /* Hide scrollbar for Firefox */
    scrollbar-width: none;
    /* Hide scrollbar for Webkit based browsers */
    -ms-overflow-style: none;
}

/* Hide scrollbar for Webkit based browsers */
.scroll-container::-webkit-scrollbar {
    display: none;
}

.scroll-x-container {
    overflow-x: scroll;
    /* Hide scrollbar for Firefox */
    scrollbar-width: none;
    /* Hide scrollbar for Webkit based browsers */
    -ms-overflow-style: none;
}

/* Hide scrollbar for Webkit based browsers */
.scroll-x-container::-webkit-scrollbar {
    display: none;
}
